@charset "ISO-8859-1";
body {
	background-color: #dbf0fe;
}

.pass {
	width: 500px;
	overflow: hidden;
	margin: auto;
	margin: 20 0 0 440px;
	padding: 50px;
	border-radius: 15px;
	background-color: white;
}

input[type=email], input[type=password] {
	width: 50%;
	padding: 10px 15px;
	margin: 7px 0;
	display: inline-block;
	border: 1px solid #cdd0d0;
	box-sizing: border-box;
}

button{
background-color: black;
	border: none;
	text-decoration: none;
	color: white;
	width: 20%;
	padding: 10px 10px;
	margin: 1px 5px;
	border-radius:8px;
	cursor: pointer;
}

input[type=button] {
	background-color: black;
	border: none;
	text-decoration: none;
	color: white;
	width: 20%;
	padding: 10px 10px;
	margin: 1px 5px;
	border-radius:8px;
	cursor: pointer;
}
.imgForgot{
padding-left: 280px;
	margin-top: -300px;
}

#errorMessage {
	margin-bottom: 20px;
	padding: 0px;
	background: #fe8b8e;
	text-align: center;
	font-size: 14px;
	transition: all 0.5s ease;
}
