<div th:fragment="quotes">
<div class="author-quote-wrap">
	<input class="toggle-quote" type="radio" id="AQ-1" name="quote" checked>
	<div class="author-quote">
		<div class="pull-left author-photo photo-a animated bounceInLeft">
			<div class="navigate">
				<label class="label left" for="AQ-5">&nbsp;</label>
				<label class="label right" for="AQ-2">&nbsp;</label>
			</div>
		</div>
		<div class="pull-right quote-content">
			<div class="clearfix animated zoomIn"><div class="quote-like pull-right"><span class="love"></span> 423</div></div>
			<div class="quote-text animated rotateInDownRight">Voting is  <br>your right.<br>Try to<br>do it right.</div>
			<div class="quote-author animated lightSpeedIn">Sheldon Cooper</div>
		</div>
	</div>

	<input class="toggle-quote" type="radio" id="AQ-2" name="quote">
	<div class="author-quote">
		<div class="pull-left author-photo photo-b animated bounceInLeft">
			<div class="navigate">
				<label class="label left" for="AQ-1">&nbsp;</label>
				<label class="label right" for="AQ-3">&nbsp;</label>
			</div>
		</div>
		<div class="pull-right quote-content">
			<div class="clearfix animated zoomIn"><div class="quote-like pull-right"><span class="love"></span> 512</div></div>
			<div class="quote-text animated zoomInDown">It’s your  <br>responsibility<br>and right to vote.</div>
			<div class="quote-author animated lightSpeedIn">Ronalda Colen</div>
		</div>
	</div>

	<input class="toggle-quote" type="radio" id="AQ-3" name="quote">
	<div class="author-quote">
		<div class="pull-left author-photo photo-c animated bounceInLeft">
			<div class="navigate">
				<label class="label left" for="AQ-2">&nbsp;</label>
				<label class="label right" for="AQ-4">&nbsp;</label>
			</div>
		</div>
		<div class="pull-right quote-content">
			<div class="clearfix animated zoomIn"><div class="quote-like pull-right"><span class="love"></span> 618</div></div>
			<div class="quote-text animated bounceInRight">The Ballot <br>is <br> stronger than<br>the Bullet.</div>
			<div class="quote-author animated lightSpeedIn">Abraham Lincoln</div>
		</div>
	</div>

	<input class="toggle-quote" type="radio" id="AQ-4" name="quote">
	<div class="author-quote">
		<div class="pull-left author-photo photo-d animated bounceInLeft">
			<div class="navigate">
				<label class="label left" for="AQ-3">&nbsp;</label>
				<label class="label right" for="AQ-5">&nbsp;</label>
			</div>
		</div>
		<div class="pull-right quote-content">
			<div class="clearfix animated zoomIn"><div class="quote-like pull-right"><span class="love"></span> 741</div></div>
			<div class="quote-text animated lightSpeedIn">If you don’t vote, <br>you lose <br>the right <br>to complain.</div>
			<div class="quote-author animated lightSpeedIn">George Carli</div>
		</div>
	</div>

	<input class="toggle-quote" type="radio" id="AQ-5" name="quote">
	<div class="author-quote">
		<div class="pull-left author-photo photo-e animated bounceInLeft">
			<div class="navigate">
				<label class="label left" for="AQ-4">&nbsp;</label>
				<label class="label right" for="AQ-1">&nbsp;</label>
			</div>
		</div>
		<div class="pull-right quote-content">
			<div class="clearfix animated zoomIn"><div class="quote-like pull-right"><span class="love"></span> 824</div></div>
			<div class="quote-text animated flipInX">Somewhere <br>inside of<br> all of us is the<br>  power to change the<br>   world.</div>
			<div class="quote-author animated lightSpeedIn">Roald Dahl</div>
		</div>
	</div>
</div>

<div id="slogan">
<h1 style="text-align: center">Take a decision today,<br>  to ensure <br>a better tomorrow.</h1>
</div>
  

</div>