<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Forgot Password</title>
<link rel="stylesheet" th:href="@{/CSS/forgotPasswordStyles.css}">
</head>
<body>
	<h2 style="text-align: center">Reset your password</h2>
	<br>
	<form id="forgot" onsubmit="equal()" th:action="@{/updateNRIPassword}" th:object="${forgotPassword}">
		<div class="pass">
	<div id="errorMessage"></div>
			<label for="email"><strong>Enter Email id:</strong></label> <br>
			<input type="email" name="email" th:field="*{nriEmailId}" placeholder="Email Id"><br>
				
			<br> <label for="password"><strong>Create New Password:</strong></label> <br>
			<input type="password" name="password" id="voterPassword" th:field="*{nUserPassword}" placeholder="New Password"><br>
				
			<br> <label for="password"><strong>Confrim Your Password:</strong></label><br> 
			<input type="password" name="password1" id="voterPassword1" th:field="*{nriNewPassword}" placeholder="Re-type New Password"><br>
			<br>

			<div>
				<button type="submit">Create</button>
				<button type="reset">Cancel</button>
			 <INPUT TYPE="button" VALUE="Back" onClick="history.go(-1);">
			</div>
			
			<div class="imgForgot">
				<img th:src="@{\Images\forgotpassword.jpg}" alt="forgotPassword" height=260px width=280px>
			</div><br><br>
		</div>
	</form>
	<script th:inline="javascript">
		function equal() {
			event.preventDefault();
			let password1 = document.querySelector("#voterPassword").value;
			let password2 = document.querySelector("#voterPassword1").value;
			var error = document.getElementById("errorMessage");
			var text;
			error.style.padding = "10px";

			if (password1!==password2) {
				text = "Password doesn't match";
				error.innerHTML = text;
				return false;
			} 
			else {
				alert("Password Recreated");
				let form = document.querySelector("#forgot");
				form.style.display = 'none';
				form.submit();
			}
		}
	</script>
</body>
</html>