<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Registration Successful</title>
<link rel="stylesheet" th:href="@{/CSS/popup.css}">
</head>
<body>
<div class="container">
<div class="popup">
<img th:src="@{/Images/regTick.png}" id="icon" alt="tick">
<h2> Register Successfully!!!</h2>
Your Non Resident User Id:<p th:text="${session.RANDOM_ID}"> </p>
<button onclick="location.href='/voterNRIHomePage'">Ok</button>
</div>
</div>
</body>
</html>